﻿@using Employees.Web.Models.Employee;
@model ICollection<Employees.Web.Models.Employee.EmployeeModel>

@{
    ViewBag.Title = "Список сотрудников";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Добавить", "Create")
<p />
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Отдел</th>
        <th>Язык</th>
    </tr>
@foreach (var employee in Model)
{
    <tr>        
        <td>@employee.FirstName</td>
        <td>@employee.LastName</td>
        <td>@employee.Age</td>
        <td>@employee.Department</td>
        <td>@employee.ProgrammingLanguage</td>
        <td>
            @Html.ActionLink("Изменить", "Update", new { id = employee.Id })
            <a class="deleteEmployeeLink" href="#" data-id="@employee.Id">Удалить</a>
            @**@
        </td>
    </tr>
}
</table>
@using (var form = Html.BeginForm("Delete", "Employee", FormMethod.Post, new { id = "deleteEmployeeForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", 0, new { id = "deleteEmployeeId" })
}
<script src="@Url.Content("~/Scripts/Project/EmployeeDelete.js")" type="text/javascript"></script>
