﻿@model Employees.Web.Models.Employee.EmployeeUpdateModel

@{
    ViewBag.Title = "Изменение данных о сотруднике";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <h2>@ViewBag.Title</h2>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName, new { id = "firstName" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentId)
        </div>
        <div class="editor-field">
            @{
                var departmentSelectList = Model
                    .Departments
                    .Select(pl => new SelectListItem { Text = pl.Name, Value = pl.Id.ToString() })
                    .ToList();
                    
                departmentSelectList.Insert(0, new SelectListItem());;
            }
            @Html.DropDownListFor(model => model.DepartmentId, 
                departmentSelectList,
                new { @class = "inputWidth", data_placeholder = "Выберите отдел" })
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProgrammingLanguageId)
        </div>
        <div class="editor-field">
            @{
                var programmingLanguageSelectList = Model
                    .ProgrammingLanguages
                    .Select(pl => new SelectListItem { Text = pl.Name, Value = pl.Id.ToString() })
                    .ToList();
                    
                programmingLanguageSelectList.Insert(0, new SelectListItem());;
            }
            @Html.DropDownListFor(model => model.ProgrammingLanguageId, 
                programmingLanguageSelectList,
             new { @class = "inputWidth", data_placeholder = "Выберите язык" })           
            @Html.ValidationMessageFor(model => model.ProgrammingLanguageId)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
            @Html.ActionLink("Отмена", "Index")
        </p>
    </fieldset>
}
<script src="@Url.Content("~/Scripts/chosen.jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Project/EmployeeCreateUpdate.js")" type="text/javascript"></script>